<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruldy.test1">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ANSIM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name = ".join"/>
        <activity android:name = ".SubActivity"/>
        <activity android:name = ".RunActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=""/>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
</manifest>